# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
env/
.env

# IDE
.vscode/
.idea/

# Spark & Hadoop temporary files
/tmp/
*.parquet
*.checkpoint

# Local data volumes
postgres_data/
mongo_data/
grafana_data/

# MLflow artifacts
mlflow_artifacts/
mlruns/

# Logs
*.log
logs/

# OS junk
.DS_Store
Thumbs.db
